@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: var(--c-primary);
  --color-primary-dark: var(--c-primary-dark);
  --color-secondary: var(--c-secondary);
  --color-background: var(--c-background);
  --color-background-dark: var(--c-background-dark);
  --color-text: var(--c-text);
  --color-card: var(--c-card);
  --color-border: var(--c-border);
  --color-input: var(--c-input);
  --color-danger: var(--c-danger);
  --color-danger-content: var(--c-danger-content);
  --color-success: var(--c-success);
  --color-warning: var(--c-warning);
  --color-info: var(--c-info);
  --font-main: 'Outfit', sans-serif;
}
html {
  @apply bg-background text-text/80;
}
.ant-menu-item-selected {
  border-inline-start:4px solid var(--c-primary) !important;
  border-start-start-radius: 0 !important;
  border-end-start-radius: 0 !important;
  font-weight: bold !important;
}
.ant-input-wrapper.ant-input-group {
  background-color: var(--c-input) !important;
  border-radius: 17px !important;
}
.ant-input-search .ant-btn:hover {
  background-color: transparent !important;
}
.ant-select-selector{
  padding: 0 !important;
}
.ant-select-dropdown{
  background-color: var(--c-card) !important;
}
